@font-face {
    font-family: 'robotoregular';
    src: url('./Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*********** Page ************/
body {
    clear: both;
    color: #444;
    display: block;
    float: left;
    font: normal 11px/13px 'robotoregular', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.graphs-container {
    clear: both;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.select-container {
    /* clear: both; */
    display: block;
    float: left;
    font: normal 12px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    padding: 10px;
}

.sel-input {
    background-color: #FFF;
    border: thin solid #C8C9C7;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #C8C9C7 50%), linear-gradient(135deg, #C8C9C7 50%, transparent 50%), linear-gradient(to right, #C8C9C7, #C8C9C7);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    font: normal 12px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    margin: 0 0 0 10px;
}

    .sel-input:focus {
        background-image: linear-gradient(45deg, #0076CE 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #0076CE 50%), linear-gradient(to right, #C8C9C7, #C8C9C7);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: #0076CE;
        outline: 0;
    }

.updated-label {
    background: #FFF;
    border-bottom: 1px #C8C9C7 solid;
    border-top: 12px #EEEEEE solid;
}

.updated-label, .filter-container {
    clear: both;
    display: block;
    float: left;
    font: normal 12px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    padding: 10px;
    width: calc(100% - 20px);
}

.filters {
    clear: both;
    display: none;
    float: left;
    width: 100%;
    border-bottom: 12px #EEEEEE solid;
}

.graphs {
    clear: both;
    display: block;
    float: left;
}

.graph0 {
    border-top: 0px !important;
}

.graph-title {
    clear: both;
    display: block;
    float: left;
    font: bold 16px/18px 'robotoregular', Helvetica, Arial, sans-serif;
    margin: 10px 0 10px 10px;
    width: calc(100% - 10px);
}
/*********** Site Error Messages List ************/
.msg {
    background: #EEE;
    border: 1px #C8C9C7 solid;
    border-radius: 5px;
    clear: both;
    color: #444;
    display: block;
    float: left;
    font: normal 11px/13px 'robotoregular', Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
}

    .msg:nth-child(even) {
        background: #FFF;
    }

.msg-country, .msg-segment, .msg-visitors-impacted, .msg-total-errors {
    display: block;
    float: left;
    margin: 0 0 10px 0;
    width: 50%;
}

.msg-error-message, .msg-url {
    border-top: 1px #C8C9C7 solid;
    clear: both;
    display: block;
    float: left;
    padding: 10px 0 0 0;
    width: 100%;
    font-size: 14px;
    color: #444;
    line-height: 20px;
}

.msg-label {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 14px;
    color: #444;
}

.msg-value {
    display: block;
    float: left;
    color: #EE6411;
    margin: 0 0 0 10px;
    padding: 0 5px 0 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.msg-visitors-impacted .msg-value {
    background: #EE6411;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}

.comment-messages .msg-value {
    color: #444;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    padding: 0 5px 0 5px;
}

.msg-rating {
    display: block;
    float: right;
    margin: 0 00px 10px 0px;
    width: 40%;
}

    .msg-rating .msg-label {
        float: left;
        font-weight: bold;
    }

    .msg-rating .msg-value {
        float: right;
        font-weight: bold;
    }

.msg-time {
    display: block;
    float: right;
    margin: 0 0 0 0;
    width: 40%;
}

    .msg-time .msg-label {
        float: left;
        font-weight: bold;
    }

    .msg-time .msg-value {
        float: right;
    }
/*********** Funnel Graph ************/
.funnel-bar {
    border-bottom: 100px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-radius: 20px;
    height: 0;
    width: 100px;
    clear: both;
    color: #FFF;
    display: block;
    margin: 0 auto;
    position: relative;
}

.funnel-bar1 {
    background: #F47676;
    background: -moz-linear-gradient(top, #F47676 0%, #D93F3C 100%);
    background: -webkit-linear-gradient(top, #F47676 0%,#D93F3C 100%);
    background: linear-gradient(to bottom, #F47676 0%,#D93F3C 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F47676', endColorstr='#D93F3C',GradientType=0 );
    width: 100%;
}

.funnel-bar2 {
    background: #FFAE4D;
    background: -moz-linear-gradient(top, #FFAE4D 0%, #F58F39 100%);
    background: -webkit-linear-gradient(top, #FFAE4D 0%,#F58F39 100%);
    background: linear-gradient(to bottom, #FFAE4D 0%,#F58F39 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFAE4D', endColorstr='#F58F39',GradientType=0 );
    width: 90%;
}

.funnel-bar3 {
    background: #FCE98A;
    background: -moz-linear-gradient(top, #FCE98A 0%, #F7BC38 100%);
    background: -webkit-linear-gradient(top, #FCE98A 0%,#F7BC38 100%);
    background: linear-gradient(to bottom, #FCE98A 0%,#F7BC38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCE98A', endColorstr='#F7BC38',GradientType=0 );
    width: 80%;
}

.funnel-bar4 {
    background: #8cc63f;
    background: -moz-linear-gradient(top, #8cc63f 0%, #65A637 100%);
    background: -webkit-linear-gradient(top, #8cc63f 0%,#65A637 100%);
    background: linear-gradient(to bottom, #8cc63f 0%,#65A637 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc63f', endColorstr='#65A637',GradientType=0 );
    width: 70%;
}

.funnel-bar5 {
    background: #29ABE2;
    background: -moz-linear-gradient(top, #29ABE2 0%, #007DB8 100%);
    background: -webkit-linear-gradient(top, #29ABE2 0%,#007DB8 100%);
    background: linear-gradient(to bottom, #29ABE2 0%,#007DB8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ABE2', endColorstr='#007DB8',GradientType=0 );
    width: 60%;
}

.funnel-title {
    fill: #FFF;
    font: bold 13px 'robotoregular', Helvetica, Arial, sans-serif;
    padding-top: 4px;
}

.funnel-count {
    fill: #FFF;
    font: bold 15px 'robotoregular', Helvetica, Arial, sans-serif;
}

.funnel-perc {
    fill: #FFF;
    font: bold 12px 'robotoregular', Helvetica, Arial, sans-serif;
    left: 20px;
    position: absolute;
    top: 10px;
}

.funnel-sub-perc {
    fill: #444;
    font: bold 12px 'robotoregular', Helvetica, Arial, sans-serif;
    position: absolute;
    right: 30px;
    bottom: 10px;
}
/*********** Pie Graph ************/
.arc path {
    stroke: #fff;
}

.donut-total-count {
    color: #949494;
    font: bold 12px 'robotoregular', Helvetica, Arial, sans-serif;
}
/*********** Charts ************/
.graph-container {
    background: #fff;
    border-bottom: 1px #C8C9C7 solid;
    border-top: 12px #EEEEEE solid;
    display: block;
    float: left;
    padding: 5px;
    position: relative;
    width: 100%;
}

.graph-title-short {
    clear: none;
    margin: 10px 0 20px 10px;
    width: calc(60% - 10px);
}

.graph-title-large {
    clear: none;
    margin: 10px 0 20px 10px;
    width: calc(60% - 10px);    
}

.graph-title-vpod {
    color: #444;
    font: bold 30px 'robotoregular', Helvetica, Arial, sans-serif;
}

.graph-title-long {
    color: #444;
    font: bold 20px 'robotoregular', Helvetica, Arial, sans-serif;
}

.graph-title-label {
    color: #444;
    font: normal 10px 'robotoregular', Helvetica, Arial, sans-serif;
}

.graph-status {
    display: block;
    float: right;
    margin: 0 0 20px 0;
    right: 0px;
    text-align: right;
    top: 0px;
    width: 40%;
}

.graph-status-value {
    font: bold 16px/18px 'robotoregular', Helvetica, Arial, sans-serif;
    margin: 10px 0 0 0;
}

.graph-status-label {
    color: #444;
    font: normal 12px 'robotoregular', Helvetica, Arial, sans-serif;
}

.graph-date {
    color: #444;
    display: block;
    float: left;
    font: normal 10px/16px 'robotoregular', Helvetica, Arial, sans-serif;
    margin: 10px 0 0 0;
    width: 50%;
}

.axis text {
    fill: #444;
}

.axis .domain, .axis .tick line {
    stroke: #949494;
}

.grid .tick line {
    stroke: #949494;
}
/*********** Graph Details ************/
.graph-details {
    clear: both;
    display: block;
    float: left;
    font: bold 10px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    width: 100%;
}

.button-graph-details-expand {
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: right;
    height: 22px;
    padding: 0 2px 0 2px;
    width: 28px;
}

.graph-details-result {
    clear: both;
    display: block;
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
}

.data-point-info {
    background: #ddd;
    border-radius: 4px;
    display: block;
    float: left;
    font: bold 10px/16px sans-serif;
    padding: 1px 5px 1px 5px;
    margin: 0 0 0 5px;
}

.data-point-info-label {
    color: #949494;
}

.ui-slider {
    background: #ddd;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

    .ui-slider .ui-slider-handle {
        background: #0076CE;
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: pointer;
        -ms-touch-action: none;
        touch-action: none;
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
    }

    /* support: IE8 - See #6727 */
    .ui-slider.ui-state-disabled .ui-slider-handle,
    .ui-slider.ui-state-disabled .ui-slider-range {
        filter: inherit;
    }

.ui-slider-horizontal {
    height: .8em;
}

    .ui-slider-horizontal .ui-slider-handle {
        top: -.3em;
        margin-left: -.6em;
    }

    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }

    .ui-slider-horizontal .ui-slider-range-min {
        left: 0;
    }

    .ui-slider-horizontal .ui-slider-range-max {
        right: 0;
    }

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

    .ui-slider-vertical .ui-slider-handle {
        left: -.3em;
        margin-left: 0;
        margin-bottom: -.6em;
    }

    .ui-slider-vertical .ui-slider-range {
        left: 0;
        width: 100%;
    }

    .ui-slider-vertical .ui-slider-range-min {
        bottom: 0;
    }

    .ui-slider-vertical .ui-slider-range-max {
        top: 0;
    }

.dell-tooltip {
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    display: block;
    font: bold 10px/12px 'robotoregular', Helvetica, Arial, sans-serif;
}
/*********** Graph Legend ************/
.graph-legend {
    display: block;
    float: right;
    margin: 10px 0 0 0;
    width: 100%;
}

.graph-legend-pie .graph-legend-element {
    clear: both;
    float: left;
}

.graph-legend-element {
    display: block;
    float: right;
    padding: 5px;
}

.graph-legend-element-color {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}

.graph-legend-element-color-2xx {
    background: #65A637;
}

.graph-legend-element-color-3xx {
    background: #0076CE;
}

.graph-legend-element-color-4xx {
    background: #F7BC38;
}

.graph-legend-element-color-5xx {
    background: #D93F3C;
}

.graph-legend-element-color-totals{
    background: #41B6E6;
}

.graph-legend-element-line {
    background: #6E2585;
    height: 4px;
    margin: 6px 0 0 0;
}

.graph-legend-element-label {
    color: #444444;
    display: block;
    float: left;
    font: normal 13px/16px sans-serif;
    padding: 0 0 0 5px;
}

.graph-legend-element-label-count {
    display: block;
    float: left;
    font: bold 11px/16px sans-serif;
    padding: 0 0 0 5px;
}

.graph-details-result-date {
    text-align: center;
    width: 100%;
}
/*********** Line Graph ************/
.grid line {
    stroke: #949494;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.area {
    fill: url(#temperature-gradient);
    stroke-width: 5px;
}

.line, .line-group {
    fill: none;
    stroke: #6E2585;
    stroke-width: 2px;
}

.dot {
    fill: #6E2585;
}

.area {
    fill: url(#temperature-gradient);
    stroke-width: 5px;
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: 0.3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.colorful-line {
    fill: none;
    stroke: url(#line-gradient);
    stroke-width: 2px;
}
/*********** Graph color via higest quantity error type ************/
.color-green, .color-green .graph-status-value {
    color: #65A637 !important;
}

.color-yellow, .color-yellow .graph-status-value {
    color: #F7BC38 !important;
}

.color-red, .color-red .graph-status-value {
    color: #D93F3C !important;
}
/*********** Overview Line Item ************/
.gt14 .graph {
    display: block;
    float: left;
    margin: 0 20px 0 20px;
}

.graph-title-gt14 {
    clear: both;
    display: block;
    float: left;
    font: normal 12px/18px 'robotoregular', Helvetica, Arial, sans-serif;
    height: 18px;
    margin: 0 0 8px 0;
    width: 100%;
}

.graph-number-gt14 {
    display: block;
    float: left;
    font: normal 12px/30px 'robotoregular', Helvetica, Arial, sans-serif;
    height: 30px;
    padding: 5px;
    text-align: center;
    width: 40px;
}
/*********** Data Table Body ************/
.sales-table, .speed-table, .standard-table {
    display: table;
    overflow: hidden;
}

.row {
    border: 1px #949494 solid;
    border-top: none;
    clear: both;
    display: table-row;
    float: left;
    font: normal 11px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 100%;
}

    .row:last-child {
        border-radius: 0 0 5px 5px;
    }

.row-data {
    border-right: 1px #949494 solid;
    box-sizing: border-box;
    display: table-cell;
    float: left;
    height: 100%;
    padding: 5px;
    margin-bottom: -99994px;
    padding-bottom: 99999px;
    text-align: right;
}

.heatmap-table .row-data {
    margin: 0;
    padding: 0;
}

.sales-table .row-data, .speed-table .row-data {
    width:15%;
}

.row-data:first-child {
    text-align: left;
}

.row-data:last-child {
    border: none;
}

.sales-table .row-data:first-child, .speed-table .row-data:first-child {
    width: 40%;
}

.sales-table .row-data {
    min-height: 45px;
}

.standard-table .row-data:first-child {
    text-align: left;
}

.sales-table .split-cell {
    display: block;
    float: left;
}

    .sales-table .split-cell:first-child {
        width: calc(100% - 50px);
    }

    .sales-table .split-cell:last-child {
        float: right;
        text-align: right;
        border-radius: 5px;
        color: #fff;
        padding: 3px 5px 3px 5px;
    }

.sales-table .row:nth-child(1) .row-data:first-child {
    box-shadow: none;
}

.speed-table .split-cell {
    clear: both;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}

.speed-table .row .row-data:first-child {
    font: bold 12px/14px 'robotoregular', Helvetica, Arial, sans-serif;
}

.speed-table .row .split-cell:first-child {
    font: bold 12px/18px 'robotoregular', Helvetica, Arial, sans-serif;
}

.speed-table .row .split-cell:last-child {
    font: normal 11px/14px 'robotoregular', Helvetica, Arial, sans-serif;
}
/*********** Data Table Header ************/
.table-header {
    border-radius: 5px 5px 0 0;
}

.speed-table .table-header.row {
    border-top: 1px #949494 solid;
    font: bold 12px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    text-align: center;
}

.sales-table .table-header.row {
    background: #EE6411;
    border-top: 1px #949494 solid;
    color:#fff;
    font: bold 10px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    text-align: center;
}

.standard-table .table-header.row {
    background: #EE6411;
    border-top: 1px #949494 solid;
    color: #fff;
    font: bold 10px/14px 'robotoregular', Helvetica, Arial, sans-serif;
    text-align: center;
}

.sales-table .table-header .row-data:first-child {
    font: bold 16px/18px 'robotoregular', Helvetica, Arial, sans-serif;
}

.speed-table .table-header.row .row-data:nth-child(2),
.speed-table .row .row-data:nth-child(2) .split-cell:first-child {
    color: #6EA204;
    text-align: center;
}

.speed-table .table-header.row .row-data:nth-child(3),
.speed-table .row .row-data:nth-child(3) .split-cell:first-child {
    color: #F2AF00;
    text-align: center;
}

.speed-table .table-header.row .row-data:nth-child(4),
.speed-table .row .row-data:nth-child(4) .split-cell:first-child {
    color: #CE1126;
    text-align: center;
}

.heatmap-table .row, .heatmap-table .row .row-data {
    border: none;
}

    .heatmap-table .row .row-data {
        border-radius: 4px;
        margin: 1px;
        text-align: center;
    }

.heatmap-table .table-header.row .row-data {
    font-weight: bold;
}

.heatmap-table .row .row-data:first-child {
    text-align: left;
    width: 100px;
}

.heatmap-cell-level1 {
    background: #EEE;
    color: #000;
}

.heatmap-cell-level2 {
    background: #C8C9C7;
    color: #000;
}

.heatmap-cell-level3 {
    background: #808080;
    color: #FFF;
}

.heatmap-cell-level4 {
    background: #444;
    color: #FFF;
}
/*********** 2. Dark Skin ************/
.skin-dark.graph-container {
    background: #000;
}

.skin-dark .graph-title {
    color: #fff;
}

.skin-dark .axis text {
    fill: #fff;
}

.skin-dark .axis .domain, .skin-dark .axis .tick line {
    stroke: #FFF;
}

.grid .tick line {
    stroke: #949494;
}
/*********** 480px wide screen ************/
@media only screen and (min-width: 420px) {
    .graph-legend-element-label {
        font: bold 13px/16px sans-serif;
    }

    .graph-legend-element-label-count {
        font: bold 13px/16px sans-serif;
    }

    .graph-title {
        font: bold 20px/24px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .graph-title-vpod {
        font: bold 30px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .graph-title-long {
        font: bold 20px/24px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .graph-status-value {
        font: bold 20px/24px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .funnel-title {
        font: normal 14px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .funnel-count {
        font: bold 13px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .msg {
        font: normal 13px/16px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .row {
        font: normal 13px/16px 'robotoregular', Helvetica, Arial, sans-serif;
    }
}

@media only screen and (min-width: 600px) {
    .graph-legend-element-label {
        font: bold 14px/18px sans-serif;
    }

    .graph-legend-element-label-count {
        font: bold 14px/18px sans-serif;
    }

    .graph-title {
        font: bold 30px/34px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .graph-title-vpod {
        font: bold 30px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .graph-title-long {
        font: bold 30px/34px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .graph-status-value {
        font: bold 30px/34px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .funnel-title {
        font: normal 16px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .funnel-count {
        font: bold 15px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .msg {
        font: normal 16px/20px 'robotoregular', Helvetica, Arial, sans-serif;
    }

    .row {
        font: normal 15px/18px 'robotoregular', Helvetica, Arial, sans-serif;
    }
}
